<div id="players">
  <div class="row">
    <% players.each do |player| %>
      <div class="card" style="width: 18rem;margin: 1rem;">
        <div class="card-body">
          <h5 class="card-title"><%= player.name %></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link"><%= link_to 'Show', player %></a>
          <a href="#" class="card-link"><%= link_to 'Edit', edit_player_path(player) %></a>
          <a href="#" class="card-link"><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></a>
        </div>
      </div>
    <% end %>
  </div>
</div>
